h1 {
      color:blue;
    }
.title {
        background-color:yellow;
        outline: 5px solid black;
        padding: 3px rgb(178, 178, 178);
        text-align: center;
   	}
.body {
	color:black;
	*/background-color:rgb(78, 9, 113);*/
	padding: 10px;
	margin-top:2px;
	background-color: rgb(178, 178, 178);
	margin-left:5px;
	margin-right:5px;
	}
span.title {
	background-color:yellow;
  	outline: 5px solid black;
       	padding: 3px;
	color:black;
	text-align:left;
	}
body {
	font-family:sans-serif;
	}
.spacepic {
        float:left;
        border: 3px ridge gray;
	width: 350px;
	margin-right:3px;
	}	
.ribbon {
	background-color:red;
}
button .ribbon {
	background-color:blue;
	color:white;
}
